.mb-2{
    width: 300px;
    height: 300px;
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.darkcolor{
    background-color: teal !important;
}

.tealcolor{
    color: teal !important;
}

.navbar-brand .tealcolor {
    color: teal !important;
}